<h2>Please edit the reservation information:</p>
  
<form action="/admin/reservation/edit_confirm" method="post">
  <p>Name:<br>
  <input type="text" required value="<%= @form_values.name %>" name="name"></p>

  <p>Email:<br>
  <input type="text" required value="<%= @form_values.email %>" name="email"></p>

  <p>Address:<br>
  <input type="text" required value="<%= @form_values.address %>" name="address"></p>

  <p>City:<br>
  <input type="text" required value="<%= @form_values.city %>" name="city"></p>

  <p>State:<br>
  <input type="text" required value="<%= @form_values.state %>" name="state"></p>

  <p>Phone:<br>
  <input type="text" required value="<%= @form_values.phone %>" name="phone"></p>

  <p>Number of Adults:<br>
  <input type="number" required value="<%= @form_values.no_adults %>" name="no_adults"></p>

  <p>Number of Children:<br>
  <input type="number" required value="<%= @form_values.no_children %>" name="no_children"></p>

  <p>Arrival Date:<br>
  <input type="text" required value="<%= @form_values.arrival_date %>" name="arrival_date"></p> 

  <p>Departure Date:<br>
  <input type="text" required value="<%= @form_values.departure_date %>" name="departure_date"></p>

  <p>Comments:<br>
  <input type="text" required value="<%= @form_values.comments %>" name="comments"></p>

    <p>Status:<br>
      <select name="status" value="<%= @form_values.status %>">
      	<option <%= "selected" if @form_values.status == "requested" %> value="requested">Requested</option>
      	<option <%= "selected" if @form_values.status == "approved" %> value="approved">Approved</option>
      	<option <%= "selected" if @form_values.status == "cancelled" %> value="cancelled">Cancelled</option>
      	<option <%= "selected" if @form_values.status == "closed" %> value="closed">Closed</option>
        </select>
    </p>


  <input type="hidden" required value="<%= @form_values.id %>" name="id">
  <input type="submit" value="Save Edits">
</form>

