<h2>Current Reservations:</h2>

<br>
<table width="600px" valign="top">
  <tr>
    <td width="50px" align="center"></td>
    <td width="200px" align="center"><strong>id. name:</strong></td>
    <td width="175px" align="center"><strong>email:</strong></td>
    <td width="90px" align="center"><strong>Arrival:</strong></td>
    <td width="90px" align="center"><strong>Departure:</strong></td>
    <td width="5px"></td>
    <td width="75px" align="center"><strong>Status:</strong></td>
  </tr>
</table>

<% @reservations.each do |reservation| %>
<table width="600px" valign="top">
  <tr>
    <td width="50px" align="left"><a href="/admin/reservation/edit_form?email=<%= reservation.email %>">Edit</a></td>
    <td width="200px" align="left"><%= reservation.id %>. <%= reservation.name %></td>
    <td width="175px"><%= reservation.email %></td>
    <td width="90px" align="right"><%= reservation.arrival_date %></td>
    <td width="90px" align="right"><%= reservation.departure_date %></td>
    <td width="5px"></td>
    <td width="75px" align="left"><%= reservation.status %></td>
  </tr>
<% end %>
</table>