














<h2>Please edit the product information:</p>
<form action="/edit_product_confirm">
  <p>Title:<br>
  <input type="text" required value="<%= @form_values.title %>" name="title"></p>

  <p>Author:<br>
  <input type="text" required value="<%= @form_values.author %>" name="author"></p>

  <p>ISBN:<br>
  <input type="text" required value="<%= @form_values.isbn %>" name="isbn"></p>

  <p>Description:<br>
  <input type="text" required value="<%= @form_values.description %>" name="description"></p>

  <p>Price:<br>
  <input type="number" step="0.01" required value="<%= @form_values.price %>" name="price"></p>

  <p>Cost:<br>
  <input type="number" step="0.01" required value="<%= @form_values.cost %>" name="cost"></p>

  <p>Location ID:<br>
  <input type="text" required value="<%= @form_values.location_id %>" name="location_id"></p> 

  <p>Category ID:<br>
  <input type="text" required value="<%= @form_values.category_id %>" name="category_id"></p>

  <p>Quantity:<br>
  <input type="number" required value="<%= @form_values.quantity %>" name="quantity"></p>

  <input type="hidden" required value="<%= @form_values.id %>" name="id">
  <input type="submit" value="Save Edits">
</form>

