<%@products.each do |product|%>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><button onclick="details('<%= product.display_attributes %>')">More Details</button></td>
    <td><a href="/edit_product?id=<%= product.id %>">Edit</a></td>
    <td><a href="/delete_product?id=<%= product.id %>">Delete</a></td>
  </tr>
  <%end%>
  
  
  Make a drop down with links to all reservations