<h2>Current Guests:</h2>

  <% @results_as_objects.each do |x| %>
    <h3><%= x.id %>. <%= x.city %></h3>
        <p class=indent>Products assigned to <strong><%= x.city %></strong>:</p>
        <% @products.each do |y| %>
          <% if y.location_id == x.id %>
          <p class=indent-more><%= y.id %>. <%= y.title %>  by   <%= y.author %></p>
          <% end %>
        <% end %>
  <% end %>