<h2>Success!</h2>

<h4>Your edits for <strong><%= params[:name] %></strong> have been saved!</h4>

  <table width="400px" valign="top">
    <tr>
      <td width="100px" align="right">
        <p>ID:<br> 
          Group Name:<br>
          Email:<br>
          City: <br>
          State: <br>
          Phone: <br>
          # Adults: <br>
          # Children: <br>
          Arrival: <br>
          Departure: <br>
          Status:</p>
      </td> 
      <td width="3px">
      </td>
      <td width="250px">
        <p><strong><%= params[:id] %><br> 
          <%= params[:name] %><br>
          <%= params[:email] %><br>
          <%= params[:city] %><br>
          <%= params[:state] %><br>
          <%= params[:phone] %><br>
          <%= params[:no_adults] %><br>
          <%= params[:no_children] %><br>
          <%= params[:arrival_date] %><br>
          <%= params[:departure_date] %><br>
          <%= params[:status] %></strong></p>
      </td> 
    </tr>
  </table>