<h2>Current Reservations:</h2>
<br>
  <% @reservations.each do |x| %>
    <h4 class="indent-20"><%= x.id %>. <%= x.name %>  <%= x.email %> Arrival Date: <%= x.arrival_date %> Departure Date: <%= x.departure_date %> <%= x.status %></h4>
  <% end %>