<h2>Select the event reservation you would like to add to the calendar:</h2>

<p>Note: Only approved events can be added to the calendar. <br>Please <a href="/admin/reservation/status">update the reservation status</a> if needed.</p>

<% @reservations.each do |reservation| %>
<table width="600px" valign="top">
  <tr>
    <td width="200px" align="left"><%= reservation.id %>. <%= reservation.name %></td>
    <td width="100px" align="left"><%= reservation.arrival_date %></td>
    <td width="100px" align="left"><%= reservation.departure_date %></td>
    <td width="5px"></td>
    <td width="100px" align="left"><%= reservation.status %></td>
<% end %>
  </tr>
</table>

<br>
<form action="/admin/calendar/add_form" method="post">
  <p><strong>Select the reservation to add to the calendar:</strong></p>
    <select name="id">
      <% Reservation.all.each do |x| %>
        <% if x.status == "approved" %>
          <option value="<%= x.id %>"><%= x.id %>. <%= x.name %>
          </option>
        <% end %>
      <% end %>
    </select>
   <input type="submit" value="Submit">
</form>

